<div class="contact-form form-vertical">
    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}
    {% include 'form-status', form: form, form_id: formId %}

    <div class="grid grid--half-gutters">
        <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-name">Name</label>
            <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact[Name]' | t }}]">
        </div>
        <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-business">Business Name</label>
            <input type="text" id="{{ formId }}-business" name="contact[{{ 'contact[Business Name]' | t }}]">
        </div>
        <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true" {%- if form.errors contains 'email' -%} class="input--error" aria-invalid="true"
                aria-describedby="{{ formId }}-email-error" {%- endif -%}>
            {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }}
                    {{ form.errors.messages['email'] }}.</span>
            </span>
            {%- endif -%}
        </div>
        <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-website">Website</label>
            <input type="text" id="{{ formId }}-website" name="contact[{{ 'contact[Website]' | t }}]">
        </div>
    </div>

    {% unless section.settings.business-types == blank %} 
    {% assign business-types = section.settings.business-types | split ',' %}
    <label for="{{ formId }}-business-type">Type of Business</label>
    <select id="{{ formId }}-business-type" name="contact[Type of Business]">
    {% for type in business-types %}
        <option value="{{type}}">{{type}}</option>
    {% endfor %}
    </select>
    {% endunless %}




    <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
    <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*"
        value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
    <textarea rows="10" id="{{ formId }}-message"
        name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

    {% endform %}
</div>

{% schema %}
{
"name": "contact form",
"settings": [
{
    "type":"text",
    "label":"Business Types (Comma-Separated)",
    "id":"business-types"
}
]
}
{% endschema %}