<div class="contact-form form-vertical">
    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}
    {% include 'form-status', form: form, form_id: formId %}

    <div class="grid grid--half-gutters">
        <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]"
                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true" {%- if form.errors contains 'email' -%} class="input--error" aria-invalid="true"
                aria-describedby="{{ formId }}-email-error" {%- endif -%}>
            {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }}
                    {{ form.errors.messages['email'] }}.</span>
            </span>
            {%- endif -%}
        </div>
    </div>

    <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
    <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*"
        value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    {% if section.settings.isOrdernumberEnabled %}
    <label for="{{ formId }}-order-number">Order Number</label>
    <input type="text" id="{{ formId }}-order-number" name="contact[order number]" />
    {% endif %}

    <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
    <textarea rows="10" id="{{ formId }}-message"
        name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

    {% endform %}
</div>

{% schema %}
{
"name": "contact form",
"settings": [
{
"type":"checkbox",
"label":"enable order numbers",
"id":"isOrdernumberEnabled"
}
]
}
{% endschema %}