<div class="grid grid--no-gutters image-bar image-bar--{{ section.settings.section_height }}">
  {% case section.blocks.size %}
  {% when 1 %}
  {%- assign column_size = '' -%}
  {% when 2 %}
  {%- assign column_size = 'medium-up--one-half' -%}
  {% when 3 %}
  {%- assign column_size = 'medium-up--one-third' -%}
  {% else %}
  {%- assign column_size = 'medium-up--one-quarter' -%}
  {% endcase %}

  {% unless section.settings.heading == blank %}
  <h1 class="text-center">{{section.settings.heading}}</h1>
  {% endunless %}

  {% for block in section.blocks %}
  <div class="grid__item {{ column_size }} js" {{ block.shopify_attributes }}>
    {% if block.settings.link != blank %}
    <a class="image-bar__link" href="{{ block.settings.link }}">
      <div class="image-bar__item box ratio-container lazyload"
        data-bgset="{% include 'bgset', image: block.settings.image %}" data-sizes="auto" data-parent-fit="cover"
        style="background-position: {{ block.settings.alignment }};" data-image-loading-animation>
        {% elsif block.settings.image != blank %}
        <div class="image-bar__item image-bar__item--{{ block.id }} box ratio-container lazyload"
          data-bgset="{% include 'bgset', image: block.settings.image %}" data-sizes="auto" data-parent-fit="cover"
          style="background-position: {{ block.settings.alignment }};" data-image-loading-animation>
          {% else %}
          <div class="image-bar__item">
            {% endif %}
            <div
              class="image-bar__content{% if block.settings.cta_label != blank or block.settings.link != blank %} image-bar__overlay{% endif %}">
              {% if block.settings.image == blank %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              {% if block.settings.cta_label != blank %}
              <div class="image-bar__text">
                <h3 class="image-bar__caption">{{ block.settings.cta_label | escape }}</h3>
              </div>
              {% endif %}
            </div>
            {% if block.settings.link != blank %}
          </div>
    </a>
    {% else %}
  </div>
  {% endif %}
</div>
<noscript>
  <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
    <div class="image-bar__item image-bar__item--{{ block.id }}"
      style="background-image: url({{ block.settings.image | img_url: '2048x' }});"></div>
  </div>
</noscript>
{% endfor %}
</div>

{% if section.blocks.size == 0 %}
{% include 'no-blocks' %}
{% endif %}



{% schema %}
{
"name": {
"cs": "Galerie",
"da": "Galleri",
"de": "Galerie",
"en": "Gallery",
"es": "Galería",
"fi": "Galleria",
"fr": "Galerie",
"it": "Galleria",
"ja": "ギャラリー",
"ko": "갤러리",
"nb": "Galleri",
"nl": "Galerie",
"pl": "Galeria",
"pt-BR": "Galeria",
"pt-PT": "Galeria",
"sv": "Galleri",
"th": "แกลเลอรี",
"tr": "Galeri",
"vi": "Bộ sưu tập ảnh",
"zh-CN": "图库",
"zh-TW": "圖庫"
},
"class": "index-section index-section--flush",
"max_blocks": 4,
"settings": [
{
"type":"text",
"label":"heading for Gallery",
"id":"heading"
},
{
"type": "select",
"id": "section_height",
"label": {
"cs": "Výška sekce",
"da": "Højde på afsnit",
"de": "Abschnittshöhe",
"en": "Section height",
"es": "Altura de la sección",
"fi": "Osan korkeus",
"fr": "Hauteur de la section",
"it": "Altezza sezione",
"ja": "セクションの高さ",
"ko": "섹션 높이",
"nb": "Høyde på del",
"nl": "Sectiehoogte",
"pl": "Wysokość sekcji",
"pt-BR": "Altura da seção",
"pt-PT": "Altura da secção",
"sv": "Sektionshöjd",
"th": "ความสูงของส่วน",
"tr": "Bölüm yüksekliği",
"vi": "Chiều cao mục",
"zh-CN": "分区高度",
"zh-TW": "區塊高度"
},
"default": "medium",
"options": [
{
"label": {
"cs": "Extra malá",
"da": "Ekstra lille",
"de": "Extra klein",
"en": "Extra Small",
"es": "Extra pequeña",
"fi": "Erikoispieni",
"fr": "Très petite",
"it": "Molto piccola",
"ja": "極小",
"ko": "특소",
"nb": "Ekstra liten",
"nl": "Extra klein",
"pl": "Bardzo mała",
"pt-BR": "Muito pequeno",
"pt-PT": "Extra pequeno",
"sv": "Extra liten",
"th": "ขนาดเล็กพิเศษ",
"tr": "Çok Küçük",
"vi": "Cực nhỏ",
"zh-CN": "特小",
"zh-TW": "超小型"
},
"value": "x-small"
},
{
"label": {
"cs": "Malá",
"da": "Lille",
"de": "Klein",
"en": "Small",
"es": "Pequeña",
"fi": "Pieni",
"fr": "Petite",
"it": "Piccolo",
"ja": "小",
"ko": "스몰",
"nb": "Liten",
"nl": "Klein",
"pl": "Mała",
"pt-BR": "Pequeno",
"pt-PT": "Pequeno",
"sv": "Liten",
"th": "เล็ก",
"tr": "Küçük",
"vi": "Nhỏ",
"zh-CN": "小",
"zh-TW": "小型"
},
"value": "small"
},
{
"label": {
"cs": "Střední",
"da": "Medium",
"de": "Mittel",
"en": "Medium",
"es": "Mediana",
"fi": "Keskisuuri",
"fr": "Moyenne",
"it": "Medio",
"ja": "中",
"ko": "보통",
"nb": "Middels",
"nl": "Gemiddeld",
"pl": "Średnia",
"pt-BR": "Médio",
"pt-PT": "Médio",
"sv": "Medium",
"th": "ปานกลาง",
"tr": "Orta",
"vi": "Trung bình",
"zh-CN": "中等",
"zh-TW": "中等"
},
"value": "medium"
},
{
"label": {
"cs": "Velká",
"da": "Stor",
"de": "Groß",
"en": "Large",
"es": "Grande",
"fi": "Suuri",
"fr": "Grande",
"it": "Grande",
"ja": "大",
"ko": "라지",
"nb": "Stor",
"nl": "Groot",
"pl": "Duża",
"pt-BR": "Grande",
"pt-PT": "Grande",
"sv": "Stor",
"th": "ใหญ่",
"tr": "Büyük",
"vi": "Lớn",
"zh-CN": "大",
"zh-TW": "大型"
},
"value": "large"
},
{
"label": {
"cs": "Extra velká",
"da": "Ekstra stor",
"de": "Extra groß",
"en": "Extra Large",
"es": "Extra grande",
"fi": "Erikoissuuri",
"fr": "Très grande",
"it": "Molto grande",
"ja": "特大",
"ko": "특대",
"nb": "Ekstra stort",
"nl": "Extra groot",
"pl": "Bardzo duża",
"pt-BR": "Muito grande",
"pt-PT": "Extra grande",
"sv": "Extra stor",
"th": "ขนาดใหญ่พิเศษ",
"tr": "Çok Büyük",
"vi": "Cực lớn",
"zh-CN": "特大",
"zh-TW": "超大型"
},
"value": "x-large"
}
]
}
],
"blocks": [
{
"type": "image",
"name": {
"cs": "Obrázek",
"da": "Billede",
"de": "Foto",
"en": "Image",
"es": "Imagen",
"fi": "Kuva",
"fr": "Image",
"it": "Immagine",
"ja": "画像",
"ko": "이미지",
"nb": "Bilde",
"nl": "Afbeelding",
"pl": "Obraz",
"pt-BR": "Imagem",
"pt-PT": "Imagem",
"sv": "Bild",
"th": "รูปภาพ",
"tr": "Görsel",
"vi": "Hình ảnh",
"zh-CN": "图片",
"zh-TW": "圖片"
},
"settings": [
{
"type": "image_picker",
"id": "image",
"label": {
"cs": "Obrázek",
"da": "Billede",
"de": "Foto",
"en": "Image",
"es": "Imagen",
"fi": "Kuva",
"fr": "Image",
"it": "Immagine",
"ja": "画像",
"ko": "이미지",
"nb": "Bilde",
"nl": "Afbeelding",
"pl": "Obraz",
"pt-BR": "Imagem",
"pt-PT": "Imagem",
"sv": "Bild",
"th": "รูปภาพ",
"tr": "Görsel",
"vi": "Hình ảnh",
"zh-CN": "图片",
"zh-TW": "圖片"
}
},
{
"type": "select",
"id": "alignment",
"label": {
"cs": "Zarovnání obrázku",
"da": "Justering af billede",
"de": "Fotoausrichtung",
"en": "Image alignment",
"es": "Alineación de imagen",
"fi": "Kuvan tasaus",
"fr": "Alignement de l'image",
"it": "Allineamento immagine",
"ja": "画像アラインメント",
"ko": "이미지 정렬",
"nb": "Bildejustering",
"nl": "Afbeelding uitlijnen",
"pl": "Wyrównanie obrazu",
"pt-BR": "Alinhamento da imagem",
"pt-PT": "Alinhamento da imagem",
"sv": "Bildjustering",
"th": "การจัดวางรูปภาพ",
"tr": "Görsel hizalaması",
"vi": "Căn chỉnh hình ảnh",
"zh-CN": "图片对齐方式",
"zh-TW": "圖片對齊"
},
"default": "center",
"options": [
{
"value": "top",
"label": {
"cs": "Nahoru",
"da": "Top",
"de": "Oben",
"en": "Top",
"es": "Superior",
"fi": "Ylös",
"fr": "Haut",
"it": "Alto",
"ja": "上",
"ko": "위쪽",
"nb": "Topp",
"nl": "Boven",
"pl": "Do góry",
"pt-BR": "Acima",
"pt-PT": "Acima",
"sv": "Högst upp",
"th": "ด้านบน",
"tr": "Üst",
"vi": "Bên trên",
"zh-CN": "顶部",
"zh-TW": "頂部"
}
},
{
"value": "center",
"label": {
"cs": "Na střed",
"da": "I midten",
"de": "Mitte",
"en": "Middle",
"es": "Centrada",
"fi": "Keskelle",
"fr": "Milieu",
"it": "Centrale",
"ja": "中央",
"ko": "중간",
"nb": "Midten",
"nl": "Midden",
"pl": "Do środka",
"pt-BR": "Meio",
"pt-PT": "Meio",
"sv": "Mitten",
"th": "ตรงกลาง",
"tr": "Orta",
"vi": "Ở giữa",
"zh-CN": "中间",
"zh-TW": "中央"
}
},
{
"value": "bottom",
"label": {
"cs": "Dolů",
"da": "Bund",
"de": "Unten",
"en": "Bottom",
"es": "Inferior",
"fi": "Alas",
"fr": "Bas",
"it": "Basso",
"ja": "下",
"ko": "아래쪽",
"nb": "Bunn",
"nl": "Onder",
"pl": "Do dołu",
"pt-BR": "Abaixo",
"pt-PT": "Abaixo",
"sv": "Längst ner",
"th": "ด้านล่าง",
"tr": "Alt",
"vi": "Bên dưới",
"zh-CN": "底部",
"zh-TW": "底部"
}
}
]
},
{
"type": "url",
"id": "link",
"label": {
"cs": "Odkaz",
"da": "Link",
"de": "Link",
"en": "Link",
"es": "Enlace",
"fi": "Linkki",
"fr": "Lien",
"it": "Link",
"ja": "リンク",
"ko": "링크",
"nb": "Kobling",
"nl": "Link",
"pl": "Link",
"pt-BR": "Link",
"pt-PT": "Ligação",
"sv": "Länk",
"th": "ลิงก์",
"tr": "Bağlantı",
"vi": "Liên kết",
"zh-CN": "链接",
"zh-TW": "連結"
},
"info": {
"cs": "Volitelné",
"da": "Valgfri",
"de": "Optional",
"en": "Optional",
"es": "Opcional",
"fi": "Valinnainen",
"fr": "Facultatif",
"it": "Facoltativo",
"ja": "オプション",
"ko": "선택 사항",
"nb": "Valgfritt",
"nl": "Optioneel",
"pl": "Opcjonalnie",
"pt-BR": "Opcional",
"pt-PT": "Opcional",
"sv": "Valfritt",
"th": "ไม่จำเป็น",
"tr": "İsteğe bağlı",
"vi": "Không bắt buộc",
"zh-CN": "可选",
"zh-TW": "(選填)"
}
},
{
"type": "text",
"id": "cta_label",
"label": {
"cs": "Titulek",
"da": "Billedtekst",
"de": "Bildtext",
"en": "Caption",
"es": "Leyenda",
"fi": "Kuvateksti",
"fr": "Légende",
"it": "Didascalia",
"ja": "キャプション",
"ko": "캡션",
"nb": "Bildetekst",
"nl": "Bijschrift",
"pl": "Napisy",
"pt-BR": "Legenda",
"pt-PT": "Legenda",
"sv": "Rubrik",
"th": "คำบรรยาย",
"tr": "Alt yazı",
"vi": "Phụ đề",
"zh-CN": "字幕",
"zh-TW": "說明"
}
}
]
}
],
"presets": [
{
"name": {
"cs": "Galerie",
"da": "Galleri",
"de": "Galerie",
"en": "Gallery",
"es": "Galería",
"fi": "Galleria",
"fr": "Galerie",
"it": "Galleria",
"ja": "ギャラリー",
"ko": "갤러리",
"nb": "Galleri",
"nl": "Galerie",
"pl": "Galeria",
"pt-BR": "Galeria",
"pt-PT": "Galeria",
"sv": "Galleri",
"th": "แกลเลอรี",
"tr": "Galeri",
"vi": "Bộ sưu tập ảnh",
"zh-CN": "图库",
"zh-TW": "圖庫"
},
"category": {
"cs": "Obrázek",
"da": "Billede",
"de": "Foto",
"en": "Image",
"es": "Imagen",
"fi": "Kuva",
"fr": "Image",
"it": "Immagine",
"ja": "画像",
"ko": "이미지",
"nb": "Bilde",
"nl": "Afbeelding",
"pl": "Obraz",
"pt-BR": "Imagem",
"pt-PT": "Imagem",
"sv": "Bild",
"th": "รูปภาพ",
"tr": "Görsel",
"vi": "Hình ảnh",
"zh-CN": "图片",
"zh-TW": "圖片"
},
"blocks": [
{
"type": "image"
},
{
"type": "image"
},
{
"type": "image"
}
]
}
]
}
{% endschema %}