<div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
  
        {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
        {% endif %}
  
        {% section 'contact-wholesale' %}
  
      </div>
    </div>
  </div>